<img [src]="imageUrl" [style.width]="width" [style.height]="height" (click)="showImagePreviewModal = true"/>

@if(showImagePreviewModal){
    <div class="modal-backdrop" (click)="showImagePreviewModal = false">
        <div class="modal-container modal-lg d-flex flex-column">
            <div class="modal-header d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center justify-content-between flex-grow-1 pe-4">
                    <div class="d-flex align-items-center">
                        <i class="ph ph-image me-2 fs-4 text-dark"></i>
                        <h4 class="modal-title m-0 p-0">{{ fileName }}</h4>
                    </div>
                    <span class="text-sm text-muted">{{ formatFileSize(fileSize) }}</span>
                </div>
                <button type="button" class="btn-close d-flex align-items-center justify-content-center" (click)="showImagePreviewModal = false">
                    <i class="ph ph-x fs-4"></i>
                </button>
            </div>
            <div class="modal-body flex-grow-1">
                <img [src]="imageUrl" style="width: 100%;"/>
            </div>
        </div>
    </div>
}
