.custom-date-button{
    width: 40px; 
    height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    line-height: 35px;
    margin: 10px;
    cursor: pointer;
}

.custom-date-button:hover{
    background-color: blue;
    color: #fff;
}