.project-box-content{
    cursor: pointer;
    padding: 15px;
}

.project-box-content:hover{
    background: #EEEEEE;
    border-radius: 20px;
    transition: 
        border-radius 0.3s ease,
        background-color 0.3s ease;
}

.btn-delete-event{
    padding: 5px;
}

.btn-delete-event:hover{
    background-color: #f5c6cb;
    border-radius: 10px;
}

.btn-edit-event{
    padding: 5px;
}

.btn-edit-event:hover{
    background-color: #c6ccf5;
    border-radius: 10px;
}