.tab-menu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.tab-menu li{
    float: left;
}

.tab-menu li a{
    display: block;
    margin-right: 20px;
    color: black;
    text-decoration: none;
    padding: 5px;
}

.tab-menu li.active a{
    border-bottom: 1px solid #4E71FF;
    color: #4E71FF;
    font-weight: bold;
}

.tab-menu li a:hover{
    border-bottom: 1px solid #4E71FF;
}